<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="./public/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h2>Timestamp Microservice</h2>
      <h3>Functionality supported:</h3>
      <ol class="user-stories"> 
        <li>The API endpoint is <code>GET [project_url]/api/timestamp/?datestring=<date></code></li>
        <li>A date string is valid if can be successfully parsed by <code>new Date(datestring)</code>.<br>
        Note that the unix timestamp needs to be an <strong>integer</strong> (not a string) specifying <strong>milliseconds</strong>.<br> 
        In our test we will use date strings compliant with ISO-8601 (e.g. <code>"2016-11-20"</code>) because this will ensure an UTC timestamp.</li>
        <li>If the date string is <strong>empty</strong> it should be equivalent to trigger <code>new Date()</code>, i.e. the service uses the current timestamp.</li>
        <li>If the date string is <strong>valid</strong> the api returns a JSON having the structure<br><code>{"unix": &lt;date.getTime()&gt;, "utc" : &lt;date.toUTCString()&gt; }</code><br>
          e.g. <code>{"unix": 1479663089000 ,"utc": "Sun, 20 Nov 2016 17:31:29 GMT"}</code></li>
        <li>If the date string is <strong>invalid</strong> the api returns a JSON having the structure <br>
            <code>{"error" : "Invalid Date" }</code>.
        </li>
      </ol>
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="localhost:3000/api/timestamp?datestring=2015-12-25">[project url]/api/timestamp?datestring=2015-12-25</a></li>
        <li><a href="localhost:3000/api/timestamp?unixtime=1451001600000">[project url]/api/timestamp?unixtime=1451001600000</a></li>
      </ul>
      <h3>Example Output:</h3>
      <p>
        <code>
          {
            "result": {
            "utc_string": "2015-12-24T18:30:00Z",
            "unix_tring": 1450981800,
            "local_time": "2015-12-24T18:30:00.000Z",
            "json_object": "2015-12-24T18:30:00.000Z",
            "iso_string": "2015-12-24T18:30:00.000Z",
            "calendar_date": "12/25/2015",
            "date_object": {
            "years": 2015,
            "months": 11,
            "date": 25,
            "hours": 0,
            "minutes": 0,
            "seconds": 0,
            "milliseconds": 0
            },
            "date_array": [
            2015,
            11,
            25,
            0,
            0,
            0,
            0
            ]
            }
            }
        </code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.freecodecamp.org/">Bidisha Mondal</a>
      </p>
    </div>
  </body>
</html>